*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-imagem: url();
}

body{
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-content: center;

}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
}

.container input{
    font-size: 2rem;
    text-align: center;
}

.container button{
    flex-direction: column;
    padding-block: 8px;

}

.imagem {
    background-image: var(--bg-imagem);
    transition: 2s;
}